@media screen  and (min-width: 360px) and (max-width: 640px) {
    
    .aside {
        width: 13.5rem;
        height: 111.0rem;
        
    }

    .container-img {

        height: 12rem;
    }

    .img {
      width: 10rem;
      height: 10.5rem;
      margin-top: 1.4rem;
    }

    .field {

        margin-top: 1.5rem;
    }

    .profile {

        line-height: 1.8rem;
    }

    .field-title {

        width: 81%;
        font-size: 1rem;
    }

    .field-text {
        font-size: 1.0rem;
        width: 10.5rem;
        margin-top: 1.5rem;
    }

    .extra-info-text {

        font-size: 1.66rem;
        width: 10rem;

    }

    .tech {

        margin-top: 11px;
        line-height: 19px;
    }

    .super-container-icons {
        
        bottom: -4rem;
        right: 1.5rem;
    }



    .icons-list {

        line-height: 3.0rem;
    }

    .icon {

        font-size: 16px;
        width: 15px;
        height: 14px;
    }

    .icon-higher {

        font-size: 16px;
    }


}