@media screen  and (min-width: 360px) and (max-width: 640px) {
    
    .aside {
        width: 13.5rem;
        height: 111.4rem;
        
    }

    .container-img {

        height: 12rem;
    }

    .img {
      width: 10rem;
      height: 10.5rem;
      margin-top: 1.4rem;
    }

    .field {

        margin-top: 1.5rem;
        padding-right: 15px;
        margin-left: 10px

    }

    .profile {

        line-height: 1.8rem;
    }

    .field-title {

        width: 105%;
        font-size: 9px;
        margin-top: 8px;
    }

    .field-text {
        font-size: 1.0rem;
        width: 10.5rem;
        margin-top: 1.5rem;
    }

    .extra-info {

        margin-left: 4px;
    }

    .extra-info-text {

        font-size: 1.66rem;
        width: 10rem;

    }

    .tech {

        margin-top: 11px;
        line-height: 19px;
        display: grid;
        justify-content: end;
    }

    /* .grid-container {

        display: grid;
        justify-content: space-between;
    } */

    .super-container-icons {
        
        bottom: -6rem;
        right: 1.5rem;
    }

    .icons-list {

        line-height: 3.0rem;
    }

    .icon {

        font-size: 16px;
        width: 15px;
        height: 14px;
    }

    .icon-higher {

        font-size: 16px;
    }


}