@media screen  and (min-width: 360px) and (max-width: 640px) {
    
    .aside {
        width: 13.5rem;
        height: 111.4rem;
        
    }

    .container-img {

        height: 12rem;
    }

    .img {
      width: 10rem;
      height: 10.5rem;
      margin-top: 1.4rem;
    }

    .field {

        margin-top: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 1.0rem

    }

    .profile {

        line-height: 1.8rem;
    }

    .field-title {

        width: 105%;
        font-size: 0.9rem;
        margin-top: 0.8rem;
    }

    .field-text {
        font-size: 1.0rem;
        width: 10.5rem;
        margin-top: 1.5rem;
    }

    .extra-info {

        margin-left: 0.4rem;
    }

    .extra-info-text {

        font-size: 1.66rem;
        width: 10rem;

    }

    .link {

        font-size: 1.1rem;
    }

    .tech {

        margin-top:1.1rem;
        line-height: 1.9rem;
        display: grid;
        justify-content: space-between;
    }

    .grid {

        grid-template-columns: 5.0rem 5.0rem;
        position: relative;
    }

    .icon-higher {

        font-size: 1.6rem;
    }

    .icon-mobile {

        position: absolute;
        right: 0;
        font-size: 1.6rem;
        width: 1.5rem;
        height: 1.4rem;
    }

    .react {
        margin-right: 0;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 0.4rem;
    }

    .django {
        width: 1.7rem;
    }


}